<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Ground　Truth</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
   <script type="text/javascript" src="/js/index.js"></script>
   <script type="text/javascript" src="/js/gt.js"></script>
</head>

<table style="margin-top: 25x;"></table>
<body>
   <div class="container">
      <h1 class="text-left">Ground　Truth</h1>
      <input class="btn btn-success btn-sm hidden" style="float:right" type="button" dataType= "json" value="R_and_R for JSON" id="rrjson" onClick="rr_out(this)">
      <input class="btn btn-primary btn-sm" style=" margin-right: 5px;" type="button" dataType= "csv" value=" gt csv出力" id="rrcsv" onClick="rr_out(this)">
      <table style="margin-top: 10px;"></table>

      <table class="table table-striped table-hover" id="result">
      </table>

   </div>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>