<table class="table table-striped table-hover" id="gttable">    
    <tbody>
        <!-- リスト -->
        <% var i = 0; %>
        <% params.forEach(function() { %>
            <tr>
                <td><%- params[i].id -%></td>
                <td><div style="height: 10em;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 7;"><%- params[i].tilte -%></div></td>
            </tr>
        <% i++; %>
        <% }) %>
    </tbody>
</table>
