<table>
    <thead>
        <tr>
            <th class="col-sm-2">id</th>
            <th class="col-sm-2">q</th>
            <th class="col-sm-8"></th>
        </tr>
    </thead>

    <tbody>
        <!-- リスト -->
        <% var i = 0; %>
        <% params.params.forEach(function() { %>
            <tr>
                <td><%- app.app.nvl(params.params[i].params.id) -%></td>
                <td><%- app.app.nvl(params.params[i].params.q) -%></td>
                <td></td>
            </tr>
        <% i++; %>
        <% }) %>
    </tbody>
</table>