<table>
    <thead>
      <tr>
         <th class="col-sm-3">q</th>
         <th class="col-sm-8">id</th>
         <th class="col-sm-1">rank</th>
      </tr>
    </thead>

    <tbody>
      <!-- リスト -->
      <% docs.forEach(function(doc) { %>
         <tr>
            <td><%- doc.q -%></td>
            <td><%- doc.id -%></td>
            <td><%- doc.rank -%></td>
         </tr>
      <% }); %>
   </tbody>
</table>