<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>SuperSub</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
   <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
   
   <div class="container-fluid">
      
      <h4>
         <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
			Cloudant　Lucene検索
		</h4>
		
		<hr>
      
		<form id="search-form" class="form-inlin row no-gutter">
         <!-- 種別 -->
			<div class="form-inline pull-left" id="select">
            <label for="call_date">種別</label>
				<select id="condition-corpus" name="corpus" class="form-control">
               <option value="all">すべて</option>
				</select>
			</div>
			<!-- 検索 -->
			<div class="form-group input-group pull-left" id="serch" style="width: 50%;">
            <input id="qwords" type="text" class="form-control" name="qwords" placeholder="質問を入力してください...">
				<span class="input-group-btn ">
               <button id="q_send" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</form>
      
		<!-- リスト -->
		<div id="serchlist-row" class="row narrow">
         <div class="col-md-12 no-gutter">
            <div id="result-panel" class="col-md-12 no-gutter">
            </div>
         </div>
		</div>
		<!-- リスト -->
      
	</div>
   
	<script type="text/javascript" src="/js/sub.js"></script>
   <!-- Javascript ? -->
   <% include ../app/scripts %>
</body>

</html>
