<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>アンサーズ</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
    <div class="container">
        <h1>Answers</h1>
            <form id="api_selector" style="float:right">
                <a>test</a>
                <div class="input"><input placeholder="username" value="8e15a2cb-4a85-4ee4-8894-c1ee4436c686" id="input_username" name="username" type="text"></div>
                <div class="input"><input placeholder="password" value="T3Btu4vegwaA" id="input_password" name="password" type="password"></div>
                <input class="btn btn-primary" type="button" id="clsButton" value="クラスター確認">
            </form>
            <textarea id="clus" cols="80" rows="3" disabled>クラスター確認</textarea>
        <table style="margin-top: 150px;"></table>
        
        <div class="form-group">
            <input type="text" class="form-control" id="q" name="q" value="" placeholder="ワトソンに質問をしてみましょう" style="float:left;width: 90%">
            <input class="btn btn-primary" type="button" id="askButton" value="質問する" onClick="askQuestion()">
        </div>

        <table style="margin-top: 50px;"></table>
        <textarea id="answerArea" cols="80" rows="3" disabled>Watsonの回答</textarea>
        <!-- <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-8">タイトル</th>
                        <th class="col-sm-3 text-center">更新日時</th>
                        <th class="col-sm-1 text-center">削除</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div> -->
        <div class="modal" id="dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
     <!-- <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("hidden.bs.modal", function (event) {
                $(event.target).removeData("bs.modal").find(".modal-content").empty();
            });
        });
    </script>  -->
</body>

</html>