<% if(!title) var title = ''; %>
<title><%=  title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/lib/bootstrap-3.3.7.min.css" >

<!-- OFL iccons -->
<link rel="stylesheet" href="/stylesheets/lib/elusive-icons-2.0.0.min.css">

<!-- <link rel="stylesheet" href="/stylesheets/app.css"> -->
